@{
    ViewData["Title"] = "TimeAnalyzer";
    <meta charset="utf-8">
    ViewData["Meta"] = "utf-8";
}

<script>
    if (typeof (window) !== undefined) {
        window.resources = @Json.Serialize(ViewData["loc"]);
    }
</script>

<div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
